* {
	box-sizing: border-box
}

body {
	font-family: Arial, sans-serif;
}



/*wapper section*/


.wrapper {
	width: 70%;
	margin: auto;
  min-width: 1000px;
}


/*Nav Section*/

.page-nav {
  width: 100%;
  background-color:  #FFB4B0;
  padding: 0 10px;
  margin-bottom: 3%;
  border: 2px solid black;
}

.page-nav li {
  display: inline;
}

.nav-links > li:not(:last-child):after {
  content: " | ";
}



/* Fieldset Styling - Get rid of borders on Labels*/

fieldset {
  margin: 15px 5px 15px;
  border: 0;
}


/*Left and Right Column Styling and Floating*/

.left-col {
  width: 25%;
  float: left;
  background-color: #4DD7FA;
  border: 2px solid black
}

.right-col {
  width: 73%;
  float: right;
  background-color: #FEFAC0;
  padding: 15px 0px;
  border: 2px solid black

}

/*Styling of Divs in Right Column*/

.right-col div {
  margin-left: 5%;
  color: #785616;
  /*border: 1px solid red;*/

}


/*Used only to show all 3 divs inside the left column*/
/*.left-col div {
  border: 2px solid red;
}*/

/*Trying to style the Leftg Column check box area*/


.check-box-div {
  /*overflow: hidden;*/
  width: 100%;
  padding-left: 5px;
  /*height: 150px;*/
  /*display: inline;*/
}

.left-check-box {
  float: left;
  width: 45%;
}

.right-check-box{
  float: right;
  width: 35%;
}


/*Styling of Slider Range - Width*/
.slider-range {
  width: 100%;
}

/*Submit button in the Checkbox Area*/
.submit-button {
  text-align: center;
}

.button {
  border: 1px solid black;
  border-radius: 10%;
}


/*Clearfix*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*H4 styling just to even out Left and Right Columns*/
h2 {
  margin-bottom: 10px;
}

h4{
  margin-top: 6px;
}

